{% extends 'base.html' %}




{% block content %}

    <div class="top">
            <h1 id="title" class="hidden"><span id="logo">Bank <span>System</span></span></h1>
        </div>
        <div class="login-box animated fadeInUp">
            <div class="box-header">
                <h2>Welcome {{session['account']}}!</h2>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes style="list-style-type:none">
                {% for message in messages %}
                    <li style="color:Tomato;">{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
            <div>
                <label for="account">Balance amount:</label>
                <br/>
                <font style="font-size: 21px;">{{session['balance']}}</font>
            </div>
            <br/>
            <label for="withdraw">withdraw</label>
            <br/>
            <form method="POST">
                <input type="float" id="withdraw" name="withdraw">
                <br>
                <button type="submit" name="action" value="Withdraw">Submit</button>
            </form>
            <br/>
            <br/>
            <label for="deposit">Deposit</label>
            <br/>
            <form method="POST">
                <input type="float" id="deposit" name="deposit">
                <br/>
                <button type="submit" name="action" value="Deposit">Submit</button>
            </form>
            <!--<a href="{{ url_for('index') }}"><p class="small">Transaction History</p></a>-->
            <!--a problem is that the account is not really logged out-->
            <a href="{{ url_for('index') }}"><p class="small">LOG OUT</p></a>
        </div>


{% endblock %}
